<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->
		<h3 class="my-4 py-4 text-center">Welcome to my website, <br>Lets talk about <em>Me</em></h3>
		
		<div>
			<h4 class="my-4">Who am I</h4>
			<p>
				My name is Kwame T. <strong>Asamoah Boateng</strong>, and I am currently enrolled in the Business Information techniques program at Seneca College. My student ID is <em>ktasamoah-boateng</em>. I have a keen interest in IT  and am developing skills in IT. For any inquiries or correspondence, please feel free to reach out to me at <a href="mailto:ktasamoah-boateng@myseneca.ca">ktasamoah-boateng@myseneca.ca</a>. Thank you!
			</p>
		</div>
		
		<!-- End your code here  -->



	</main>
</div>